<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <p>Добро пожаловать, {{ user.username }}! <a href="{% url 'logout' %}?next={% url 'home' %}">Выйти</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        {% endif %}
    </header>

    <h1>Добро пожаловать в DiplomDjango!</h1>
    <a href="{% url 'read_books' %}">Посмотреть список книг</a>
    <main>
        <section>
            <h2>Поиск книг</h2>
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="query" placeholder="Введите название, автора или жанр" required>
                <button type="submit">Поиск</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Чернокнижник</p>
    </footer>
</body>
</html>
