<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск книг</title>
</head>
<body>
    <h1>Поиск книг</h1>
    <form method="GET">
        <input type="text" name="query" value="{{ query }}" placeholder="Поиск...">
        <button type="submit">Найти</button>
    </form>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'get_book_by_id' book.id %}">{{ book.title }}</a> by {{ book.author }}
            </li>
        {% empty %}
            <li>Книги не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">На главную</a>
</body>
</html>
